# Build results
bin/
obj/

# Output files
samples/zcc-evaluated-schema.json
samples/zcc-parsed-schema.json
samples/zcc-sorted-evaluations.json

# IDE
.vs/
.vscode/
*.user
*.suo

# OS
.DS_Store
Thumbs.db
